[Desktop Entry]
Encoding=UTF-8
Name=Date and Time
Type=Service
X-KDE-PluginInfo-Author=kdea
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.contrib.dateandtime
X-KDE-PluginInfo-Version=1.1
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Date and Time
